[submodule "main/fiat"]
	path = main/fiat
	url = https://bitbucket.org/fenics-project/fiat.git
	branch = master
[submodule "main/ufl"]
	path = main/ufl
	url = https://bitbucket.org/fenics-project/ufl.git
	branch = master
[submodule "main/dijitso"]
	path = main/dijitso
	url = https://bitbucket.org/fenics-project/dijitso.git
	branch = master
[submodule "main/dolfinx"]
	path = main/dolfinx
	url = https://github.com/FEniCS/dolfinx.git
	branch = fabian/batch-assembly
[submodule "main/ffcx"]
	path = main/ffcx
	url = https://github.com/FEniCS/ffcx.git
	branch = fabian/gcc-vec-ext
[submodule "main/minidolfin"]
	path = main/minidolfin
	url = https://github.com/w1th0utnam3/minidolfin
	branch = master
